*{
    margin: 0px;
    padding: 0px;
}
.head{
    background-color: black;
    color: white;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}
img{
    width: 100% ;
    height: 100% ;
    border-radius: 50%;
    object-fit: cover;
}
.circles{
    display: flex;
    justify-content: center;
    
    gap: 40px ;
    margin-top: 40px;
}
.circles button{
    background-color: transparent;
    border-radius: 50%;
    width: 100px;
    height: 100px;
}
.score{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    gap: 50px;
}
.score p{
    font-size: 30px;
}
.bar{
    width: 300px ;
    height: 60px;
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 25px;
    margin: 40px auto;
    font-size: 20px;
    border-radius: 30px;
}
.reset{
    width: 150px ;
    height: 50px;
    background-color: black;
    color: white;
    text-align: center;
    display: block;
    margin: 40px auto;
    font-size: 20px;
    border-radius: 30px;
   
}
